<header class="site-header">

  <div class="wrapper">
  
  <div class="top">
    <span><a href="{{ "/index.html" | prepend: site.baseurl }}">Lucy Keer</a></span>
    <div class="dropdown">
      <button class="dropbtn">
        <img src="/images/hamburger.svg" alt="Menu"/> 
      </button>
      <ul>
        <li><a href="{{ "/about.html" | prepend: site.baseurl }}">About</a></li>
<!--        <li><a href="test.html">Projects</a></li>-->
        <li><a href="{{ "/themes.html" | prepend: site.baseurl }}">Themes</a></li>
        <li><a href="{{ "/notes.html" | prepend: site.baseurl }}">Notes</a></li>
      </ul>
    </div>
  </div>

<!--    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>-->

<!--    <nav class="site-nav">-->

<!--      <div class="trigger">-->
<!--        {% for page in site.pages %}-->
<!--          {% if page.title %}-->
<!--          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>-->
<!--          {% endif %}-->
<!--        {% endfor %}-->
<!--      </div>-->
<!--    </nav>-->

  </div>

</header>
