/**
 * Normal screens
 */


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/** General */

html {
  height: 100%;
}

body {
  font-family: 'Noto Serif', 'Palatino', serif;
  font-size: 16pt;
  background-color: #e1d4d4;
  height: 100%;
  width: 100%;
  margin-bottom:0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans', 'Helvetica', sans-serif;
}

h1 {
  font-size: 2em;
  }
  
h2 {
  font-size: 1.5em;
  }  

p {
  font-family: 'Noto Serif', 'Palatino', serif;
}

a {
  color: #73343A;
}

/** Images */

img {
  max-width: 100%;
  vertical-align: middle;
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding: 20px;

}

/** Figures  */
figure  {
  display: block;
}

figcaption {
  display:block;
  text-align: center;
  font-style: italic;
  color: 	#505050;
/*  padding: 20px;*/
/*  border: 2px solid gray;*/
}

/**  Blockquotes  */
blockquote {
/*    color: gray;*/
    border: 2px solid gray;
    background: rgba(245,245,245, 0.3);
    padding-left: 20px;
    letter-spacing: -1px;
}

/** Top bar */

.top {
  position: fixed; 
  width: 100%; 
  top: 0; 
  height: 40px; 
  background: black; 
  left: 0;
  opacity: 0.7;
  z-index:1;
}

.top span {
  float: left;  
  color:white;
  font-family: 'Noto Sans', 'Helvetica', sans-serif;
  text-transform: uppercase;
  padding: 6px 16px 5px 16px;
}

.top span a {
  text-decoration: none;
  color: white;
}

.top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  z-index: 1;
}

.top ul li {
  float: right;
}

.top ul li a {
  display: block;
  color: white;
  font-family: 'Noto Sans', 'Helvetica', sans-serif;
  text-transform: uppercase;
  padding:  6px 16px 5px 16px;
  text-decoration: none;
}

.top ul li a:hover {
  display: block;
  color: white;
  background-color: #73343A;
}

.dropbtn {
  display: none;
}

/** Text containers */

.text-container {
  width: 50%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 15%;
}

.text-container-no-sidenotes {
  width: 70%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 15%;
}

.post-list h2 a {
  text-decoration: none;  
  }

/** Homepage */

#homepage {
  background-color: #e1d4d4;
  background-image: none;
}

#description {
  position: absolute;
  top: 31%;
  right: 10%;
  width: 480px;
  height: 230px;
  padding: 30px 30px;
  background: #e1d4d4;
  border:3px solid black;
  z-index:1;
  pointer-events: none;
}

/**
 * Small screens
 */

@media (max-width: 760px)  {

  body {
    margin-top: 60px;
  }

  .top ul {
    display: none;
  }
  
  .top ul li {
    float: left;
  }
  
  .dropbtn {
    display: inline-block;
    color: white;
    background: black;
    opacity: 1;
    font-family: 'Noto Sans', 'Helvetica', sans-serif;
    text-transform: uppercase;
    font-size: 12pt;
    border: none;
    cursor: pointer;
    float: right;
    padding: 6px 16px 5px 16px;
  }

  .dropdown {
      position: relative;
      display: inline-block;
      float: right;
      top: 5px;
  }
  
  .dropdown ul li:hover {
    background-color: #73343A;
    width: 100%;
    float: left;
  }
  
  .dropdown ul {
      position: absolute;
      right: 0;
      background-color: black;
      opacity: 1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  .dropdown ul li a {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .dropdown:hover ul {
      display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
      background-color: #3e8e41;
  }
  
  .text-container {
    width: 80%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 50px;
  }

}




@media (max-width: 760px) and (min-width: 600px) {
  #description {
      position: absolute;
      top: 31%;
      left: 10%;
      width: 480px;
      height: 230px;
      padding: 30px 30px;
      background: #e1d4d4;
      border:3px solid black;
      z-index:1;
      pointer-events: none;
    }
}


#description h1 {
  font-family: 'Noto Sans', 'Helvetica', sans-serif;
  color: black;
  margin: 0;
}

#description p {
  font-family: 'Noto Serif', 'Palatino', serif;
  color: black;
  margin: 10;
}


@media (max-width: 600px) {
  #description {
      position: absolute;
      top: 31%;
      left: 5%;
      width: 270px;
      height: 240px;
      padding: 15px 30px;
      background: #e1d4d4;
      border:3px solid black;
      z-index:1;
      pointer-events: none;
    }
    
   #description h1 {
     font-size: 18pt;
   }
   
   #description p {
     font-size: 14pt;
   } 
}
 
@media all and (max-aspect-ratio: 4/3) {
    #kaleidoscope-container {
      position:fixed;
      top:0px;
      display: block;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
}
#kaleidoscope-container {
  position:fixed;
  top:0px;
  left:0;
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}


#kaleidoscope-container:hover {
  cursor:pointer;
}

#description:hover {
  cursor: auto;
}

svg {
  height: 100%;
}

/* Responsive sidenotes. From Tufte CSS https://edwardtufte.github.io/tufte-css/ */

.sidenote, .marginnote { float: right;
                         clear: right;
                         margin-right: -60%;
                         width: 50%;
                         margin-top: 0;
                         margin-bottom: 0;
                         line-height: 1.3;
                         vertical-align: baseline;
                         position: relative; }

.sidenote-number { counter-increment: sidenote-counter; }

.sidenote-number:after, .sidenote:before { font-family: et-book-roman-old-style;
                                           position: relative;
                                           vertical-align: baseline; }

.sidenote-number:after { content: counter(sidenote-counter);
                         font-size: 1rem;
                         top: -0.5rem;
                         left: 0.1rem; }

.sidenote:before { content: counter(sidenote-counter) " ";
                   top: -0.5rem; }
                   
input.margin-toggle { display: none; }

label.sidenote-number { display: inline; }

label.margin-toggle:not(.sidenote-number) { display: none; }

@media (max-width: 760px)  {

  label.margin-toggle:not(.sidenote-number) { display: inline; }
  .sidenote, .marginnote { display: none; }
  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote { display: block;
                                         float: left;
                                         left: 1rem;
                                         clear: both;
                                         width: 95%;
                                         margin: 1rem 2.5%;
                                         vertical-align: baseline;
                                         position: relative; 
  label { cursor: pointer; }

}}











