---
layout: default
---
<div class="post">

   <header class="post-header">
   <div class="text-container">
   <div class="with-sidenotes">
   <h1> {{ page.title }} </h1>
   <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }} </p>
      
<!--   <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>-->
<!--  </header>-->

  <article class="post-content">
    {% if page.contents %}
    <hr>
    <h3> Contents: </h3>
    {% include toc.html html=content %}
    <hr>
    {% endif %}
    {{ content }}
  </article>
  </div>
  </div>

</div>
